* {
    font-family: Hack Nerd Font, monospace;
    font-size: 14px;
    border: ;
    box-shadow: none;
    transition: 0.3s;
}

window {
    background-color: #1e1e2e;
    color: #cdd6f4;
    border: 2px solid #74c7ec;
    #border-radius: 2px;
    padding: 10px;
}

#input {
    background-color: #313244;
    color: #cdd6f4;
    border: 2px solid #74c7ec;
    border-radius: 6px;
    padding: 6px;
    margin-bottom: 10px;
}

#inner-box {
    background-color: #1e1e2e;
}

#outer-box {
    margin: 10px;
}

#scroll {
    margin: 0;
}

#entry {
    padding: 8px;
    border-radius: 10px;
}

#entry:selected {
    background-color: #313244;
    color: #89b4fa;
}

#text {
    margin-left: 8px;
}

#img {
    margin-left: 4px;
}
